#artem_418
# Встроенные файлы приложений
строить /

# Файлы для АРТ / Далвик В.М.
* .dex

# Внешняя папка встроенной сборки, созданная в Android Studio 2.2 и более поздних версиях
.externalNativeBuild

# Gradle файлы
.gradle /

# Подписание файлов
.signing /

# Пользовательские конфигурации
* .iml

# Локальный файл конфигурации (путь SDK и т. Д.)
local.properties

# Лог-файлы
*.журнал

# Android Studio Navigation редактор временных файлов
.navigation /

# Android Studio захватывает папку
захватывает /

# Файлы хранилища ключей
# Раскомментируйте следующие строки, если вы не хотите проверять файлы хранилища ключей в.
* .jks
* .keystore

# Сервисы Google (например, API или Firebase)
Google-services.json

# Контроль версий
vcs.xml

